{% extends "base.html" %}

{% block title %}세탁기{% end %}

{% block head %}
{% end %}


{% block body %}
    <div id="dataContainerOrientation"></div>
{% end %}

{% block script %}
<script type="text/javascript">
function wait_for_socket_connection(socket, callback){

    setTimeout(
        function(){
            if (socket.readyState === 1) {
                if(callback !== undefined){
                    callback();
                }
                return;

            } else {

                console.log("... waiting for web socket connection to come online");

                wait_for_socket_connection(socket,callback);
            }
        }, 5);
};
</script>

{% end %}

{% block jquery_ready %}

var url = "ws://" + location.host + "/w";
var ws = new WebSocket(url);

ws.onmessage = function(event) {
    console.log(event)
}


var data = {'type': 'register', 'who': 'saetakgi', 'name': '1'};

wait_for_socket_connection(ws, function() {
    ws.send(JSON.stringify(data));
});



window.addEventListener('deviceorientation', function(event) {
    var alpha = event.alpha;
    var beta = event.beta;
    var gamma = event.gamma;

    if(alpha!=null || beta!=null || gamma!=null)
        dataContainerOrientation.innerHTML = 'alpha: ' + alpha + '<br/>beta: ' + beta + '<br />gamma: ' + gamma;
}, false);

{% endblock %}